<variable #page [defaults]="{value:'/pages/index'}"></variable>

<!-- Updated from the injectors _onSidenavMenuClicked,_sideNav,_sidenavOpen -->
<variable #onSidenavMenuClicked></variable>
<variable #sidenavOpen></variable>

		<mat-progress-bar [style.opacity]="0.35" [style.z-index]="15" color="accent" [style.visibility]="root.app.loading ? 'visible' : 'hidden'" [value]="root.app.progress" [mode]="root.app.loading ? (root.app.progress != undefined ? 'determinate' : 'query') : 'determinate'"></mat-progress-bar>

	    <ng-template let-route let-index ngFor [ngForOf]="root.app.routes" >
	    	<!-- *ngIf="route === root.app.route" -->
				<!--
				<attach ref="/pages/{{route.path}}" fallback="/pages/not-found" path="{{route.path}}" class="main-layout-attach-content" [params]="route.params" [class.main-path-container-hidden]="route !== root.app.route" [paused]="route !== root.app.route">
				-->

					<attach class="main-layout-attach-content grid-fullscreen-container"
						[shareProviders]="route === root.app.route"
						*ngIf="route === root.app.route || root.app.routes[index+1] === route || route.path == 'embed'"
						ref="/pages/{{route.path}}"
						fallback="/pages/not-found"
						path="{{route.path}}"
						[params]="route.params"
						[class.main-path-container-hidden]="route !== root.app.route"
						[paused]="route !== root.app.route">

						<inject #_onSidenavMenuClicked var="onSidenavMenuClicked"><observe [execution]="update"></observe></inject>
						<inject #_sidenavOpen var="sidenavOpen"><observe [execution]="update"></observe></inject>
						<execution #update [params]="{route:route,app:root.app,onSidenavMenuClicked:onSidenavMenuClicked,sidenavOpen:sidenavOpen,_onSidenavMenuClicked:_onSidenavMenuClicked,_sidenavOpen:_sidenavOpen}"><![CDATA[
							var changes = args[0];
							if (route !== app.route)
								return;
							if (changes && !changes.value)
								return;
							onSidenavMenuClicked.value=_onSidenavMenuClicked.value;
							sidenavOpen.value=_sidenavOpen.value;
						]]></execution>
						<observe [event]="root.app.onNavigation">
							<execution [params]="{onSidenavMenuClicked:onSidenavMenuClicked,sidenavOpen:sidenavOpen,root:root,update:update}"><![CDATA[
								onSidenavMenuClicked.value=undefined;
								sidenavOpen.value=undefined;
								root.setTimeout(function() {
									update.execute();
								},0);
							]]></execution>
						</observe>
					</attach>
        </ng-template>

		<!--

		<attach ref="/pages/energy_management/default" class="main-layout-attach-content">
			<inject #onSidenavMenuClicked var="onSidenavMenuClicked"></inject>
			<inject #sidenav var="sidenav"></inject>
			<inject #sidenavOpen var="sidenavOpen"></inject>
		</attach>
		 -->
	</div>
</div>
<execution #togg [params]="{onSidenavMenuClicked:onSidenavMenuClicked,sidenavOpen:sidenavOpen}">
  if (document.getElementById('sn').style.display == 'none') {
    document.getElementById('sn').style.display = 'block';
    if (!sidenavOpen.value) {
      onSidenavMenuClicked.value();
    }
  } else {
    onSidenavMenuClicked.value();
  }
</execution>
