/upload/
/backup/
/jre/
/.visionr/
/classes/
/installations/
/target/
/bin/
/work/
/node_modules/
/src/js/bin/srvc/daemon/
/apps/
npm-debug.*
/.idea/
*.log
.classpath
.project
.settings
package-lock.json
visionr-dev/
exports/
share/wordpress/**/*.zip