
        <div *ngIf="!tpl.value && tpl.ready">
            <!-- CATEGORY MODE  -->
            <variable #category></variable>
            <variable #cindex [dependency]="category"></variable>
            <variable #rootCategories></variable>
            <variable #idmap></variable>
            <variable #tagmap></variable>
            <variable #wlist></variable>
            <variable #idmapJSON [dependency]="idmap" [value]="idmap.value | json">
                <observe>
                    <execution [params]="{idmap:idmap,wlist:wlist}"><![CDATA[
                        console.log("#idmapJSON: calculate id maps");
                        var arr = [];
                        for (var ids in idmap.value) {
                            if (idmap.value[ids] == true) arr.push(ids);
                        }
                        var r = arr.join(",");
                        wlist.value = r;
                        if (!wlist.value) {
                            for (var ids in idmap.value) {
                                arr.push(ids);
                            }
                            var r = arr.join(",");
                            wlist.value = r;
                        }
                        ]]></execution>
                </observe>
            </variable>
            <variable #crr export></variable>
            <variable #cat export [dependency]="crr">
                <observe>
                    <execution [params]="{tagmap:tagmap,crrC:crrC,idmap:idmap,cat:cat,crr:crr,category:category,root:root,cindex:cindex,rootCategories:rootCategories}"><![CDATA[
                        if (rootCategories.value === undefined) {
                            rootCategories.value = null;
                            root.db.remote("src/srv/renderer").getRootCategoriesWithDetails(cat.value ? Number(cat.value) : undefined).done(function(res) {
                                rootCategories.value = res || [];

                                var restags = [];
                                var res = {};
                                function rec(obj) {
                                    for (var i=0;i<obj.tags.length;i++) {
                                        var tag = obj.tags[i];
                                        res[tag.id] = false;
                                        restags.push({id:tag.id,NAME:tag.NAME});
                                    }
                                    for (var i=0;i<obj.children.length;i++) {
                                        var c = obj.children[i];
                                        rec(c);
                                    }
                                }
                                for (var i=0;i<rootCategories.value.length;i++) {
                                    rec(rootCategories.value[i]);
                                }
                                idmap.value = res;
                                tagmap.value = restags;
                              });
                        }
                        if (!cat.value)
                        {
                            category.value = null;
                            cindex.value = 0;
                            return;
                        };
                        //----------------------------------------------------------------------------------------------------
                        root.db.web2print.tag_category.byId(Number(cat.value),{properties:"NAME,children"}).done(function (res)
                        {
                            category.value = res || null;
                            cindex.value=0;
                            if (res && res.children && crr.value)
                            for (var i=0;i < res.children.length;i++)
                            {
                                if (res.children[i].id == crr.value)
                                {
                                    cindex.value=i;
                                    break;
                                }
                              }
                        });
                    ]]></execution>
                </observe>
            </variable>

            <observe [event]="cindex.onChange" *ngIf="rootCategories.value">
              <execution [params]="{crr:crr,root:root,cindex:cindex,rootCategories:rootCategories,cat:cat}"><![CDATA[
                  console.log("#cindex: new category selected");
                  var chip = rootCategories.value[cindex.value];
                  if (!chip) {
                      if (cat.value)
                          root.app.openRoute('/print',args[0],{});
                      return;
                    }
                  if (chip.id != crr.value)
                      root.app.openRoute('/print',args[0],{crr : chip.id,cat:cat.value});
              ]]></execution>
             </observe>
             <execution #ex [params]="{root:root,cat:cat}"><![CDATA[
                 var element = args[1];
                 root.app.openRoute('/print',args[0],{crr:element.id,cat:element.parent.id});
             ]]></execution>




               <!-- TOOLBAR CAPTION -->
            <div toolbar-content style="line-height: 30px; overflow: visible" fxLayout="row">
                <i (click)="togg.execute()" class="material-icons icon-button" style="font-size: 44px;padding-right: 1px;margin-top: -7px;">menu</i>
                <img src="{{root.app.url}}/images/logos/customer-logo_200x35.jpg" style="width: 200px; height: 35px; margin-top: -2.5px; cursor: pointer" (click)="root.app.openRoute('/print',$event)" />
                <span fxFlex></span>
                <h2 *ngIf="category.value !== undefined" no-margin style="font-weight: normal; line-height: 30px; color: #c0c0c0">
                    <div *ngIf="category.value">{{category.value.NAME}}</div>
                    <div *ngIf="!category.value">Web2Print</div>
                </h2>
                <span fxFlex></span>
            </div>

            <execution #togg [params]="{sidenavOpen:sidenavOpen}">
                sidenavOpen.value = !sidenavOpen.value;
            </execution>

            <!-- ROOT (parent is null) CATEGORIES -->
            <div *ngIf="!cat.value" absolute-fill fxLayout="row" style="overflow: auto">
                <mat-sidenav-container absolute-fill>
                    <mat-sidenav [style.width]="ldc.classList.contains('layout-detect-xs') ? '100%' : '200px'" [opened]="sidenavOpen.value" #sn mode="side">
                        <div *ngIf="rootCategories.value">
                            <div>
                                Home / <font color="#ec8a24">All Products</font>
                            </div>
                            <div style="padding: 12px" *ngFor="let rootC of (rootCategories.value || []);let i = index">
                                <div *ngIf="crrC.value" (click)="back.execute()" style="white-space: nowrap;font-size: 14px" class="icon-button">
                                    Show all categories
                                </div>

                                <h3 style="margin-bottom: 4px;margin-top: 8px">{{crrC.value ? crrC.value.NAME : rootC.NAME}}</h3>
                                <variable #crrC></variable>
                                <execution #back [params]="{crrC:crrC,idmap:idmap}"><![CDATA[
                                    for (var i=0;i<crrC.value.tags.length;i++) {
                                        idmap.value[crrC.value.tags[i].id] = false;
                                    }
                                    crrC.value = null;
                                ]]></execution>
                                <ng-template let-subcat let-i="index" ngFor [ngForOf]="((crrC.value) ? crrC.value.children || [] : rootC.children || [])">
                                    <div (click)="crrC.value = subcat" class="icon-button" style="white-space: nowrap">
                                        {{subcat.NAME}} ({{subcat.children.length + subcat.tags.length}})
                                    </div>
                                    <!--{{subcat.tags | json}}-->
                                </ng-template>
                                <div *ngIf="idmap.value">
                                    <ng-template let-tags let-i="index" ngFor [ngForOf]="((crrC.value) ? crrC.value.tags || [] : rootC.tags || [])">
                                        <div>
                                            <mat-checkbox [(ngModel)]="idmap.value[tags.id]">{{tags.NAME}}</mat-checkbox>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </mat-sidenav>
                    <div absolute-fill *ngIf="wlist.value && tagmap && tagmap.value">
                        <div style="padding-left: 8px" fxLayout="row">
                            <ng-template let-t let-i="index" ngFor [ngForOf]="tagmap.value" style="display: inline-block">
                                <div style="border: 1px solid lightgrey;margin: 8px;height: 24px;padding-left: 6px" *ngIf="idmap.value[t.id]">
                                    <label style="vertical-align: super">{{t.NAME}}</label>
                                    <i class="material-icons icon-button" (click)="idmap.value[t.id] = false">close</i>
                                </div>
                            </ng-template>
                        </div>

                        <query schema="web2print.print_template" where="tags IN ( {{wlist.value}} )" properties="OICON@280x300,width_mm,height_mm,contents">
                            <paginator [pageSize]="10" #result></paginator>
                            <div *ngFor="let o of result.objects" style="padding: 15px;width: 280px;height: 340px;display: inline-block;overflow:hidden">
                                <div [style.padding-top]="(300-280*o.height_mm/o.width_mm)/2+'px'" [style.padding-bottom]="(300-280*o.height_mm/o.width_mm)/2+'px'">
                                    <div [style.height]="280*o.height_mm/o.width_mm+'px'" style="position:relative;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);">
                                        <img (click)="root.app.openRoute('/print',$event,{tpl:o.id})" [style.top]="-(300-280*o.height_mm/o.width_mm)/2+'px'" style="position: absolute;width: 280px;height: 300px;" src="{{o.ICON}}"/>
                                    </div>
                                </div>
                                <div style="height: 40px">
                                    <variable #tcol></variable>
                                    <div fxLayout="row">
                                      <variable #tcol2></variable>
                                        <ng-template let-cn let-i="index" ngFor [ngForOf]="o.contents" style="padding: 12px">
                                            <div *ngIf="cn.SCHEMA.includes('color')">
                                                <query [schema]="cn.SCHEMA" where="id = {{cn.id}}" properties="OICON@280x300,initial_value,available_colors">
                                                    <result #rz2></result>
                                                    <div *ngIf="rz2 && rz2.objects[0] && rz2.objects[0].initial_value">
                                                        <variable>
                                                            <observe>
                                                                <execution [params]="{tcol2:tcol2,tcol:tcol,rz2:rz2,convertRBG:convertRBG}">
                                                                  <![CDATA[[
                                                                      tcol.value = convertRBG.execute(rz2.objects[0].initial_value);
                                                                      tcol2.value = [];
                                                                      for (var i = 0; i < rz2.objects[0].available_colors.length; i++) {
                                                                          var t = convertRBG.execute(rz2.objects[0].available_colors[i]);
                                                                          tcol2.value.push(t);
                                                                      }
                                                                     ]]>
                                                                </execution>
                                                            </observe>
                                                        </variable>
                                                        <div fxLayout="row">
                                                            <variable #colorSelection [defaults]="{value: 0}"></variable>
                                                            <div (click)="colorSelection.value = 0" [style.border]="colorSelection.value ? '0' : '2px solid black'" [style.background-color]="'rgb(' + tcol.value.r + ',' + tcol.value.g + ',' + tcol.value.b +')'" style="margin-right: 4px;width: 32px;height: 32px;border-radius: 100%"></div>
                                                            <ng-template let-sc2 let-i="index" ngFor [ngForOf]="tcol2.value" style="display: inline-block">
                                                                <div (click)="colorSelection.value = i+1" [style.border]="(colorSelection.value == i+1) ? '2px solid black' : '0'" [style.background-color]="'rgb(' + sc2.r + ',' + sc2.g + ',' + sc2.b +')'" style="margin-right: 4px;width: 32px;height: 32px;border-radius: 100%"></div>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </query>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </query>
                    </div>
                </mat-sidenav-container>
            </div>
        </div>
