<variable #contents [defaults]="{value: [{name: 'varchar_content'},{name: 'text_content'},{name: 'date_content'},{name: 'time_content'},{name: 'datetime_content'},{name: 'image_content'},{name: 'qrcode_content'},{name: 'indexed_color_content'}]}"></variable>
<variable #selectedValue [defaults]="{value: 'varchar_content'}"></variable>
<variable #oname></variable>
<variable #ocode></variable>
<variable #ival></variable>
<variable #colorCMYK [defaults]="{value: {c: 0,m: 0,y: 0,k: 0}}"></variable>
<variable #contentsJSON [defaults]="{value: []}"></variable>
<execution #add [params]="{colorCMYK:colorCMYK,oname:oname,ocode:ocode,contents:contents,code:code,name:name,ival:ival,selectedValue:selectedValue,contentsJSON:contentsJSON}"><![CDATA[
    if (code.value && name.value) {
        var arr = [];
        var jsn = {};
        jsn.SCHEMA = 'web2print.' + selectedValue.value;
        jsn.name = name.value;
        jsn.code = code.value;
        if (ival.value) jsn.initial_value = ival.value;
        if (selectedValue.value == 'indexed_color_content') {
            jsn.initial_value = 'cmyk(' + colorCMYK.value.c + ',' + colorCMYK.value.m + ',' + colorCMYK.value.y + ',' +colorCMYK.value.k + ')';
        }
        contentsJSON.value.push(jsn);
    }
]]></execution>
<execution #onch><![CDATA[
    var br = args[0];
    var img = args[1];
    if (br.files && br.files[0]) {
        var reader = new FileReader();
        reader.onloadend = function() {
        img.src = reader.result;
    }
    reader.readAsDataURL(br.files[0]);
    }
]]></execution>
<execution #convertRBG [params]="{root:root}"><![CDATA[
    var result = {};
    var cmyk = args[0];
    var c = cmyk.replace("cmyk(", "").replace(")", "").split(",")[0]/100;
    var m = cmyk.replace("cmyk(", "").replace(")", "").split(",")[1]/100;
    var y = cmyk.replace("cmyk(", "").replace(")", "").split(",")[2]/100;
    var k = cmyk.replace("cmyk(", "").replace(")", "").split(",")[3]/100;

    result.r = 1 - Math.min( 1, c * ( 1 - k ) + k );
    result.g = 1 - Math.min( 1, m * ( 1 - k ) + k );
    result.b = 1 - Math.min( 1, y * ( 1 - k ) + k );

    result.r = Math.round( result.r * 255 );
    result.g = Math.round( result.g * 255 );
    result.b = Math.round( result.b * 255 );
    return result;
]]></execution>
<div toolbar-content style="line-height: 30px; overflow: visible" fxLayout="row">
    <img src="{{root.app.url}}/images/logos/customer-logo_200x35.jpg" style="width: 200px; height: 35px; margin-top: -2.5px; cursor: pointer" (click)="root.app.openRoute('/print',$event)" />
    <span fxFlex></span>
    <h2 no-margin style="font-weight: normal; line-height: 30px; color: #c0c0c0">
        <div>Template Editor</div>
    </h2>
    <span fxFlex></span>
</div>
<div absolute-fill style="overflow: auto">
    <div style="background-color: #e0e0e0">
        <form style="padding-left: 6px">
            <md-form-field>
                <input [(ngModel)]="ocode.value" mdInput placeholder="Template code" value="" name="Code">
            </md-form-field>
            <md-form-field>
                <input [(ngModel)]="oname.value" mdInput placeholder="Template name" value="" name="Name">
            </md-form-field>
        </form>

        <form style="padding-left: 6px">
            <md-select placeholder="Choose content" [(ngModel)]="selectedValue.value" name="Choose content">
                <md-option *ngFor="let c of contents.value" [value]="c.name">
                    {{c.name}}
                </md-option>
            </md-select>
            <md-form-field>
                <input #code mdInput placeholder="Code" value="">
            </md-form-field>
            <md-form-field>
                <input #name mdInput placeholder="Name" value="">
            </md-form-field>
            <span style="padding: 6px" *ngIf="selectedValue.value.includes('varchar_content') || selectedValue.value.includes('qrcode_content')">
                <md-form-field>
                    <input [(ngModel)]="ival.value" mdInput placeholder="Initial value" name="Initial value">
                </md-form-field>
            </span>
            <span style="padding: 6px" *ngIf="selectedValue.value.includes('text_content')">
                <md-form-field>
                    <textarea [(ngModel)]="ival.value" mdInput autosize placeholder="Initial value" name="Initial value"></textarea>
                </md-form-field>
            </span>
            <span style="padding: 6px" *ngIf="selectedValue.value.includes('image_content')">
                <button (click)="br.click()" md-button color="primary">Browse</button>
                <variable #vrbl></variable>
                <input hidden #br (change)="onch.execute(br,img1)" type="file" accept="image/*">
                <img #img1 style="width: 80px;height: 80px" id="blah" src="#" alt="&nbsp;" />
            </span>
            <span style="padding: 6px" *ngIf="selectedValue.value.includes('indexed_color_content')">
                <md-form-field style="width: 60px">
                    <input (change)="calc_rgb.execute()" [(ngModel)]="colorCMYK.value.c" type="number" min="0" max="100" mdInput placeholder="Cyan" name="Cyan">
                </md-form-field>
                <md-form-field style="width: 60px">
                    <input (change)="calc_rgb.execute()" [(ngModel)]="colorCMYK.value.m" type="number" min="0" max="100" mdInput placeholder="Magenta" name="Magenta">
                </md-form-field>
                <md-form-field style="width: 60px">
                    <input (change)="calc_rgb.execute()" [(ngModel)]="colorCMYK.value.y" type="number" min="0" max="100" mdInput placeholder="Yellow" name="Yellow">
                </md-form-field>
                <md-form-field style="width: 60px">
                    <input (change)="calc_rgb.execute()" [(ngModel)]="colorCMYK.value.k" type="number" min="0" max="100" mdInput placeholder="Kontour" name="Kontour">
                </md-form-field>
                <div [style.background-color]="'rgb(' + rgb.value.r + ',' + rgb.value.g + ',' + rgb.value.b +')'" style="display: inline-block;margin: 5px;width: 32px;height: 32px;border-radius: 100%"></div>
                <execution #calc_rgb [params]="{colorCMYK:colorCMYK,rgb:rgb,j:j,convertRBG:convertRBG}"><![CDATA[
                    var c = colorCMYK.value.c;
                    var m = colorCMYK.value.m;
                    var y = colorCMYK.value.y;
                    var k = colorCMYK.value.k;
                    var cmyk = 'cmyk(' + c + ',' + m + ',' + y + ',' + k + ')';
                    var arr = convertRBG.execute(cmyk);
                    rgb.value.r = arr.r;
                    rgb.value.g = arr.g;
                    rgb.value.b = arr.b;
                ]]></execution>
                <variable #rgb [defaults]="{value: {r: 255,g: 255,b: 255}}"></variable>

            </span>
            <button (click)="add.execute()" md-button color="primary">Add content</button>
        </form>
    </div>
    <div style="border: 1px solid black;margin: 8px" *ngFor="let j of contentsJSON.value;let i = index;let last = last">
        <form fxLayout="row">
            <!--<label style="padding-top: 16px">{{j.SCHEMA.replace('web2print.', '')}}</label>-->
            <div align="center" style="line-height: 30px; overflow: visible;background-color: #e0e0e0;width: 112px" fxLayout="row">
                <span fxFlex></span>
                <h3 style="padding: 6px" *ngIf="j.SCHEMA.includes('varchar_content')">Single Line</h3>
                <h3 style="padding: 6px" *ngIf="j.SCHEMA.includes('text_content')">Multiline</h3>
                <h3 style="padding: 6px" *ngIf="j.SCHEMA.includes('indexed_color_content')">Color</h3>
                <h3 style="padding: 6px" *ngIf="j.SCHEMA.includes('qrcode_content')">QR Code</h3>
                <h3 style="padding: 6px" *ngIf="j.SCHEMA.includes('image_content')">Image</h3>
                <span fxFlex></span>
            </div>
            <md-form-field style="padding: 6px">
                <input #code mdInput placeholder="Code" [(ngModel)]="j.code" name="code">
            </md-form-field>
            <md-form-field style="padding: 6px">
                <input #name mdInput placeholder="Name" [(ngModel)]="j.name" name="name">
            </md-form-field>
            <div fxFlex style="padding: 6px" *ngIf="j.SCHEMA.includes('varchar_content')">
                <md-form-field style="width: 100%">
                    <input #ival mdInput placeholder="Initial value" [(ngModel)]="j.initial_value" name="Initial value">
                </md-form-field>
            </div>
            <md-form-field fxFlex style="padding: 6px" *ngIf="j.SCHEMA.includes('text_content')">
                <textarea mdInput autosize [(ngModel)]="j.initial_value" placeholder="Initial value" name="Initial value"></textarea>
            </md-form-field>
            <div style="padding: 6px" *ngIf="j.SCHEMA.includes('qrcode_content')">
                <md-form-field>
                    <input #ival style="width: 100%" mdInput placeholder="Initial value" [(ngModel)]="j.initial_value" name="Initial value">
                </md-form-field>
            </div>
            <div style="padding: 6px" *ngIf="j.SCHEMA.includes('image_content')">
                <button (click)="br2.click()" md-button color="primary">Browse</button>
                <input hidden #br2 (change)="onch.execute(br2,img2)" type="file" accept="image/*">
                <img #img2 style="width: 80px;height: 80px" id="blah2" src="#" alt="&nbsp;" />
            </div>
            <div fxLayout="row" style="padding: 6px" *ngIf="j.SCHEMA.includes('indexed_color_content')">
                <md-form-field style="width: 60px">
                    <input (keyup)="calc_initial_value.execute(c.value,m.value,y.value,k.value)" #c [value]="j.initial_value.replace('cmyk(', '').replace(')', '').split(',')[0]" type="number" min="0" max="100" mdInput placeholder="Cyan" name="Cyan">
                </md-form-field>
                <md-form-field style="width: 60px">
                    <input (keyup)="calc_initial_value.execute(c.value,m.value,y.value,k.value)" #m [value]="j.initial_value.replace('cmyk(', '').replace(')', '').split(',')[1]" type="number" min="0" max="100" mdInput placeholder="Magenta" name="Magenta">
                </md-form-field>
                <md-form-field style="width: 60px">
                    <input (keyup)="calc_initial_value.execute(c.value,m.value,y.value,k.value)" #y [value]="j.initial_value.replace('cmyk(', '').replace(')', '').split(',')[2]" type="number" min="0" max="100" mdInput placeholder="Yellow" name="Yellow">
                </md-form-field>
                <md-form-field style="width: 60px">
                    <input (keyup)="calc_initial_value.execute(c.value,m.value,y.value,k.value)" #k [value]="j.initial_value.replace('cmyk(', '').replace(')', '').split(',')[3]" type="number" min="0" max="100" mdInput placeholder="Kontour" name="Kontour">
                </md-form-field>
                <div [style.background-color]="'rgb(' + rgb.value.r + ',' + rgb.value.g + ',' + rgb.value.b +')'" style="margin: 5px;width: 32px;height: 32px;border-radius: 100%"></div>
                <execution #calc_initial_value [params]="{rgb:rgb,j:j,convertRBG:convertRBG}"><![CDATA[
                    var c = args[0];
                    var m = args[1];
                    var y = args[2];
                    var k = args[3];
                    j.initial_value = 'cmyk(' + c + ',' + m + ',' + y + ',' + k + ')';
                    var arr = convertRBG.execute(j.initial_value);
                    rgb.value.r = arr.r;
                    rgb.value.g = arr.g;
                    rgb.value.b = arr.b;
                ]]></execution>
                <variable #rgb [defaults]="{value: {r: 0,g: 0,b: 0}}"></variable>
            </div>
            <i (click)="contentsJSON.value.splice(i, 1)" class="material-icons icon-button" style="font-size: 160%;right: 12px;position: absolute;">close</i>
        </form>
    </div>
    <div align="right">
        <button (click)="reset.execute()" *ngIf="contentsJSON.value && contentsJSON.value.length" md-button color="primary">RESET</button>
        <button (click)="save.execute()" *ngIf="contentsJSON.value && contentsJSON.value.length" md-button color="primary">SAVE</button>
    </div>
</div>
<execution #reset [params]="{contentsJSON:contentsJSON}"><![CDATA[
    contentsJSON.value = [];
]]></execution>
<execution #save [params]="{oname:oname,ocode:ocode,contentsJSON:contentsJSON}"><![CDATA[
    var finalJSON = {};
    finalJSON.name = oname.value;
    finalJSON.code = ocode.value;
    finalJSON.contents = contentsJSON.value;
    console.log(finalJSON);
]]></execution>