<!-- @CSSEncapsulationNone -->
  
<variable #tpl export></variable>

<ng-container *ngIf="tpl.value">
    <query #query schema="web2print.print_template" where="code=:CODE" [params]="{CODE:tpl.value}">
		<first #res></first>
    </query>

    <ng-container *ngIf="res.ready && res.value">
        <include shared ref="/widgets/web2print/print"></include>
    </ng-container>

    <ng-container *ngIf="res.ready && !res.value">
        <include shared ref="/widgets/web2print/create"></include>
    </ng-container>

</ng-container>

<ng-container *ngIf="!tpl.value && tpl.ready">
    <attach ref="/pages/admin/index"></attach>
</ng-container>
 