<!-- @Abstract -->
<div *ngIf="comp.type == 'color'" #froot tabindex="-1" (click)="froot.focus()" (focus)="focused.value=true" (blur)="focused.value=false"
	class="print-content-entry">
    <variable #focused></variable>
    <variable #rgbcolor></variable>
    <variable #col [defaults]="{value: comp.code}">
        <observe>
            <script [params]="{col:col,root:root,comp:comp,rgbcolor:rgbcolor}">             
                var result2 = [];
                for (var color of comp.colors||[]) {
					color=color||{rgb:'red'};
	                rgb = root.app.color.parse(color.rgb).rgb;
	                var name = color.name;
	                if (name.startsWith("CMYK("))
	                	name = root.i18n("INFO_DEFAULT");
                    result2.push({r:rgb[0],g:rgb[1],b:rgb[2],name:name,code:color.code,cmyk:color.cmyk});
				}
                rgbcolor.value = result2;
            </script>
        </observe>
    </variable>
	<!--
    <div fxLayout="row">
		<input-option required fxFlex floatLabel="always"
			[(focused)]="focused.value"
			[options]="rgbcolor.value" 
			[(value)]="crrclr.value"
			[placeholder]="comp.NAME" 
			required
		></input-option>
	</div>
    <variable #crrclr [value]="((comp.colors||[])[0]||{}).code"></variable>
	<div>
		<div (click)="chval.execute(i)"
            style="width: 32px;height: 32px;border-radius: 100%;margin:5px;cursor:pointer"
            class="mat-elevation-z1"
            [style.filter]="colorSelection2.value == i ? 'drop-shadow(0px 0px 8px rgb(' + sc.r + ',' + sc.g + ',' + sc.b +'))' : undefined"
	        [style.background-color]="'rgb(' + sc.r + ',' + sc.g + ',' + sc.b +')'"
	    ></div>
	</div>-->

    <label style="font-size:13px" [style.color]="focused.value ? 'rgba(236,138,36,1)':'rgba(0,0,0,0.5)'">{{comp.NAME}}</label>
    <div style="margin-top: 4px;margin-bottom:16px;position:relative" fxLayout="row wrap" >
        <ng-container *ngFor="let sc of rgbcolor.value">
	        <div fxLayout="row" [matTooltip]="sc.name" [matTooltipShowDelay]="500" [matTooltipHideDelay]="0">
	            <div (click)="val.value=sc"
    	            style="width: 32px;height: 32px;border-radius: 100%;margin:5px;cursor:pointer"
	                class="mat-elevation-z1"
    	            [style.filter]="(val.value||rgbcolor.value?.[0])?.code == sc.code ? 'drop-shadow(0px 0px 8px rgb(' + sc.r + ',' + sc.g + ',' + sc.b +'))' : undefined"
        	        [style.background-color]="'rgb(' + sc.r + ',' + sc.g + ',' + sc.b +')'"
        	    ></div>
				<div style="margin:auto" [fxHide]="(val.value||rgbcolor.value?.[0])?.code != sc.code" fxFlex>
					{{sc.name}}
				</div>	
			</div>
        </ng-container>        
        <observe [event]="dynamicViewer.overlayClick" (dispatch)="$event.code == comp.code ? finalizeOverlayClick.execute(comp,undefined,$event,froot) : 0"></observe>
    </div>
</div>
