<!-- @Abstract -->
<!-- @Abstract -->
<ng-container *ngIf="comp.type == 'image'">
    <div class="print-content-entry input-widget-mousedown-focus-trap">
        <script #updateImage [params]="{root:root,inp:inp,val:val,comp:comp}">
			if (!args[0]) return val.value=undefined;
            root.db.remote("w2p.remote").getInitialImageRegion(args[0],comp.proportion).done(function(region) {
                val.value={
                    document:args[0],
                    region:region
                };
                if (args[1]) args[1]();
            });
        </script>
        
        <!-- region -->
	    <variable #reg [value]="(val.value||comp.placeholder)?.region"></variable>
	    <!-- disabled -->
	    <variable #isd [value]="(val.value||comp.placeholder)?.disabled"></variable>
        
        <!-- filter condition skip temp -->
	    <variable #cond [dependency]="inst" value="
		id IN (
			SELECT id WHERE parent.path = '/web2print/{{templateObject.value?.uuid}}/public' 
				UNION ALL 
			SELECT id WHERE parent.path = '/web2print/{{templateObject.value?.uuid}}/private' 
				UNION ALL 
			SELECT id WHERE parent.path = :__ENV_UPLDIRPATH
		)"></variable>
        <input-relation
        	[readonly]="isd.value"
        	[condition]="cond.value"
            [rowCount]="50"
            [object]="val.value?.document?.id == comp.placeholder?.document?.id ? undefined : val.value?.document"
            [dependency]="templateObject"
            (objectChange)="updateImage.execute($event)"
            orderBy="update_time DESC"
            [queryParams]="{UUID:templateObject.value && templateObject.value.uuid}"
            [header]="header"
            itemTemplate="menuitem-large"
            overlaySize="initial"
            schema="documents.file_upload"
            style="width:100%;max-height:40px"
            floatLabel="always"
            [editEnabled]="false"
            [selectEnabled]="false"
			[detailsEnabled]="false"            
            [clearEnabled]="false"
            [label]="comp.NAME" [placeholder]="'- default -'"
            (focus)="onEntryFocused.execute(comp)" 
			#inp
            (dblClick)="dynamicViewer.fitOverlay(comp.code);openBrowse.execute()"
            >
            <include shared ref="/widgets/web2print/print/content/handle-edit-entry"></include>
            <ng-template #header> 
                <div fxLayout="row" style="margin:8px 10px;margin-right:8px;margin-bottom:2px">
					<div style="position:relative">
	                    <button matTooltip@i18n="INFO_UPLOAD" 
	                    	[matTooltipShowDelay]="500" 
	                    	mat-button style="margin-right:10px;color:rgba(0,0,0,0.65)">
	                        <mat-icon>upload_file</mat-icon>
	                    </button>
						<div style="position:absolute;z-index:1;top:0;left:0;top:0;width:34px;height:30px;opacity:0;cursor:pointer"
							(click)="$event.stopPropagation()"
						>
				            <input-varchar #upload style="width: 100%;height: 30px;" upload="image,pdf,office" (valueChange)="onUpload.execute()">
				                <script #onUpload [params]="{root:root,openCrop:openCrop,upload:upload,comp:comp,templateObject:templateObject,inp:inp,val:val}">
				                    var uid = upload.value;
				                    root.db.remote("w2p.remote").uploadUserDocument(templateObject.value,uid.split("@")).done(function(doc) {
										if (!doc) return;
										inp.closePanel();
										root.db.remote("w2p.remote").getInitialImageRegion(doc,comp.proportion).done(function(region) {
											var nval = {document:doc,region:region};
											openCrop.execute(nval,function(res) {
												// onSubmit
												nval.region=res;
								                val.value=nval;
												inp.object=doc;
								            });
										});
				                    });
				                </script>
				                
				            </input-varchar>
				        </div>	                  			        
					</div>
                    <button fxFlex mat-button style="color:rgba(0,0,0,0.65)"
        				(click)="$event.stopPropagation();openBrowse.execute()">
                        <mat-icon style="margin-right:2px">collections_bookmark</mat-icon>
                        <mat-span><i18n>INFO_BROWSE</i18n></mat-span>
                    </button>
					<button matTooltip@i18n="BUTTON_HIDE" [matTooltipShowDelay]="500" mat-flat-button style="margin-left:5px;margin-right:-5px;color:rgba(0,0,0,0.65)"
						(click)="inp.closePanel();inp.setFocused(false)"
					>
	                	<mat-icon>expand_less</mat-icon>
	                </button>	                    
                </div>
            </ng-template>
        </input-relation>
        <script #openBrowse [params]="{root:root,comp:comp,templateObject:templateObject,applyValue:applyValue,refreshStorage:refreshStorage,inp:inp}">
			if (!templateObject.value) return;
			inp.closePanel(true);
            inp.setFocused(false);
			root.openDialog('/dialogs/web2print/print_template/documents',{
					entry:comp,
                	template:templateObject.value,
		            proportion:comp.proportion
                },
                applyValue.execute,
                undefined,
                refreshStorage.execute
			)							 
		</script>
        <script #applyValue [params]="{val:val,inp:inp,comp:comp,root:root}">
	        var doc = args[0];
	        inp.auto.closePanel();
	        root.db.remote("w2p.remote").getInitialImageRegion(args[0],comp.proportion).done(function(region) {
	            val.value={document:args[0],region:region};
		        inp.object=doc;	            
	        });
	    </script>
        <script #refreshStorage [params]="{inp:inp}">
            inp.reset();
        </script>
        <script #openCrop [params]="{val:val,root:root,comp:comp,updateRegion:updateRegion}">
			var rv = args[0]||val.value||comp.placeholder;
			var doc = rv?.document;
			if (doc) root.openDialog('/dialogs/documents/document/crop',{
				fullscreen : root.app.phone || root.app.mediaSize == 'xs' || root.app.mediaSize == 'sm',
                titleName : 'titleName', 
                object : doc,
                cropData : {region:root.clone(rv.region,true),proportion:comp.proportion}
            },args[1]||updateRegion.execute,args[2])			
		</script>
        <observe 
		[event]="overlayClicked.dispatch" (dispatch)="
			$event.code == comp.code ? inp.focused ? 0 : root.app.window.document.activeElement.blur() : 0;
			$event.code == comp.code ? finalizeOverlayClick.execute(comp,inp,$event) : 0"></observe>
    </div>
    <div style="
	    position:relative;
    	text-align: center;
    	margin-bottom: 10px;
    	border: 1px solid rgba(0,0,0,0.2);
    	border-top: 0;
    	border-radius: 4px;
    	border-top-left-radius: 0;
    	border-top-right-radius: 0;
    	" 
		[matTooltipDisabled]="root.app.mobile"
		matTooltip@i18n="LABEL_CLICK_TO_SELECT_CROP_REGION"
    >	
    	<ng-container  *ngIf="reg.value?.url">
	        <img [style.opacity]="isd.value ? 0.2 : 1"
src="{{reg.value.url}}&rx={{reg.value.x}}&ry={{reg.value.y}}&rw={{reg.value.w}}&rh={{reg.value.h}}&height={{
    root.Math.round(480/comp.proportion)
}}"
	            style="height:auto;width:100%;display:flex;margin:0 auto;cursor:pointer"
	            (click)="openCrop.execute()"
	        ></img>
	        <div style="position:absolute;bottom:5px;left:5px">
	            <button mat-button style="background-color:white;color:rgba(0,0,0,0.75)" 
	            	(click)="
	            		val.value=val.value||root.clone(val.value||comp.placeholder||{},true);
	            		val.value.disabled=!val.value.disabled; 
	            		update.execute();
	            	">
	                <mat-icon>{{isd.value ? 'image' : 'hide_image'}}</mat-icon>
	                <span>{{root.i18n(isd.value ? 'BUTTON_SHOW' : 'BUTTON_HIDE')}}</span>
	            </button>
			</div>
		</ng-container>
    </div>
    <script #updateRegion [params]="{root:root,val:val,comp:comp}">
        if (!args[0] || !args[0].region)
            return;
        var rv = val.value||comp.placeholder;
		var nval = rv;
        if (rv && rv.SCHEMA) 
            nval={document:{id:rv.id,SCHEMA:rv.SCHEMA}};
        nval=root.merge({},nval,{region:args[0].region});
        if (JSON.stringify(nval) != JSON.stringify(rv))
        	val.value=nval;
    </script>

</ng-container>
