<variable #object export></variable>
<variable #pdf export></variable>

<div fxLayout="row">
    <span fxFlex></span>
    <div style="width: 400px;height: 400px" relative>
        <viewer [object]="pdf.value" absolute-fill style="border-top:1px solid #eeeeee"></viewer>
    </div>
    <span fxFlex></span>
    <form style="margin-left: 24px;min-width: 150px;max-width: 500px;width: 100%">

        <h3 style="margin: 4px">Order Contact</h3>
        <md-form-field style="width: 100%">
            <input #fname mdInput placeholder="Full name" required>
        </md-form-field>

        <table style="width: 100%" cellspacing="0"><tr>
            <td><md-form-field style="width: 100%">
                <input #phone mdInput placeholder="Phone" required>
            </md-form-field></td>
            <td><md-form-field style="width: 100%">
                <input #email mdInput placeholder="Email" required>
            </md-form-field></td>
        </tr></table>

        <h3 align="left" style="margin: 4px">Shipping Address</h3>
        <table style="width: 100%" cellspacing="0"><tr>
            <td><md-form-field style="width: 100%">
                <input #city mdInput placeholder="City">
            </md-form-field></td>
            <td><md-form-field style="width: 100%">
                <input #zip mdInput maxlength="4" placeholder="Postal Code">
                <md-hint align="end">{{zip.value.length}} / 4</md-hint>
            </md-form-field></td>
        </tr></table>

        <md-form-field style="width: 100%">
            <textarea #addr mdInput rows="4" placeholder="Address">1600 Amphitheatre Pkwy</textarea>
        </md-form-field>

        <table style="width: 100%" cellspacing="0">
            <tr>
                <td>
                    <h4 style="text-align: left;margin: 2px">Quantity</h4>
                </td>
                <td>
                    <h4 style="text-align: left;margin: 2px">Description</h4>
                </td>
                <td>
                    <h4 style="text-align: left;margin: 2px">Price</h4>
                </td>
                <td>
                    <h4 style="text-align: left;margin: 2px">Subtotal</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <input style="width: 80px" #quantity mdInput type="number" pattern="[0-9]{5}" placeholder="Enter quantity" value="1">
                </td>
                <td>
                    <label style="font-size: 80%">Shipped Print</label>
                </td>
                <td>
                    <label style="font-size: 80%" *ngIf="quantity.value <= 20">0.50&nbsp;BGN</label>
                    <label style="font-size: 80%" *ngIf="quantity.value > 20 && quantity.value <= 100">0.42&nbsp;BGN</label>
                    <label style="font-size: 80%" *ngIf="quantity.value > 100">0.37&nbsp;BGN</label>
                </td>
                <td align="right">
                    <label style="font-size: 80%" *ngIf="quantity.value <= 20">{{quantity.value*0.50}}&nbsp;BGN</label>
                    <label style="font-size: 80%" *ngIf="quantity.value > 20 && quantity.value <= 100">{{quantity.value*0.420}}&nbsp;BGN</label>
                    <label style="font-size: 80%" *ngIf="quantity.value > 100">{{quantity.value*0.37}}&nbsp;BGN</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h4 style="text-align: left;margin: 2px;font-size: 80%">Tax&nbsp;20%</h4></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td align="right">
                    <label style="font-size: 80%" *ngIf="quantity.value <= 20">{{root.Math.floor((quantity.value*0.50*0.2)*100)/100}}&nbsp;BGN</label>
                    <label style="font-size: 80%" *ngIf="quantity.value > 20 && quantity.value <= 100">{{root.Math.floor((quantity.value*0.42*0.2)*100)/100}}&nbsp;BGN</label>
                    <label style="font-size: 80%" *ngIf="quantity.value > 100">{{root.Math.floor((quantity.value*0.37*0.2)*100)/100}}&nbsp;BGN</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h4 style="text-align: left;margin: 2px">Total</h4></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td align="right">
                    <label style="font-size: 80%" *ngIf="quantity.value <= 20">{{root.Math.floor((quantity.value*0.50*1.2)*100)/100}}&nbsp;BGN</label>
                    <label style="font-size: 80%" *ngIf="quantity.value > 20 && quantity.value <= 100">{{root.Math.floor((quantity.value*0.42*1.2)*100)/100}}&nbsp;BGN</label>
                    <label style="font-size: 80%" *ngIf="quantity.value > 100">{{root.Math.floor((quantity.value*0.37*1.2)*100)/100}}&nbsp;BGN</label>
                </td>
            </tr>
        </table>

        <div align="right">
            <button style="padding: 10px;right: -20px" [disabled]="(fname.value && phone.value && email.value) ? false : true" md-button (click)="ccc.execute()" color="primary"
                    (click)="root.return({name: fname.value,city: city.value,phone: phone.value,email: email.value,zip: zip.value,address: addr.value,quantity: quantity.value})"
            >Submit</button>
        </div>
    </form>
    <span fxFlex></span>
</div>
</div>
