<variable #object export></variable>
<variable #titleName export></variable>
<variable #icon export></variable>
<variable #fullscreen export></variable>
<variable #cropData export></variable>
<variable #page export></variable>

<variable #customButton export></variable>
<variable #customSubmit export></variable>

<variable #tmpf></variable>
<variable #downloadable></variable>

<observe #onsubmit></observe>
<observe #ondownload></observe>
<mat-dialog-content style="position: relative;height:80vh;width:70vw" simplebar *ngIf="!fullscreen.value">
  <div [toggle-fullscreen]="tmpf.value" style="width: 100%;height: 100%">
    <viewer #viewer
        [page]="page.value||0"
        [object]="object.value"
        [defaults]="{
            cropData : root.clone(cropData.value)
        }"
        (onReady)="downloadable.value=!!((viewer.data||{}).downloadUrl)"
    ></viewer>
    <observe [event]="ondownload.dispatch" (dispatch)="viewer.download()"></observe>
    <observe [event]="onsubmit.dispatch" (dispatch)="(customSubmit.value || root.return)(viewer.cropData)"></observe>
    <button style="background-color:white;position:absolute;top:10px;right:10px" class="mat-elevation-z1" mat-button *ngIf="tmpf.value" (click)="tmpf.value = !tmpf.value">
		<mat-icon>fullscreen_exit</mat-icon>
    	<span><i18n>LABEL_MINIMIZE</i18n></span>
  	</button>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="fullscreen.value">
	<div style="position:fixed;top:0;left:0;width:100%;height:100%">
	    <viewer #viewer
            [page]="page.value||0"
	    	[object]="object.value"
	    	[defaults]="{
                cropData : root.clone(cropData.value)
            }"
		    (onReady)="downloadable.value=!!((viewer.data||{}).downloadUrl)"
	    ></viewer>
        <observe [event]="onsubmit.dispatch" (dispatch)="root.return(viewer.cropData)"></observe>
	    <observe [event]="ondownload.dispatch" (dispatch)="viewer.download()"></observe>
	</div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row">
  <button *ngIf="!customButton.value && downloadable.value" style="background-color:white" class="mat-elevation-z1" mat-button (click)="ondownload.emit()">
	<mat-icon style="color:rgba(0,0,0,0.5)">file_download</mat-icon>
  </button>
  <button *ngIf="customButton.value" (click)="customButton.value.click()" style="background-color:white" class="mat-elevation-z1" mat-button>
	<mat-icon>{{customButton.value.icon}}</mat-icon>
    <span fxHide.xs>{{customButton.value.label}}</span>
  </button>
  <span fxFlex></span>
  <button style="background-color:white" class="mat-elevation-z1" mat-button dialog-close>
	<mat-icon>close</mat-icon>
    <span fxHide.xs><i18n>BUTTON_WEB_CLOSE</i18n></span>
  </button>
  <button color="primary" style="background-color:white" class="mat-elevation-z1" mat-button
    (click)="onsubmit.emit()"
    >
      <mat-icon style="margin-right:3px">done</mat-icon>
      <span fxHide.xs><i18n>BUTTON_WEB_SELECT</i18n></span>
  </button>
</mat-dialog-actions>
