<!-- NAME@en-US Overview -->
<!-- NAME@de-DE Überblick -->
<!-- NAME@bg-BG Преглед -->

<variable #object export></variable>

<variable #context export></variable>
<style>
	.overview-container {
		padding : 0 3px;
	}
</style>
<runtime api="objectdetails.component" #component></runtime>
<include shared ref="/widgets/forms/object/overview-error-data"></include>
<include shared ref="/widgets/forms/object/overview-update-custom-event"></include>
<include shared ref="/widgets/forms/layout/media-sizes-measured"></include> <!-- support for embedded media size defines mXS mSM mMD mXL mLG variables -->

<variable #done [value]="overviewReady.value" export></variable> 
<variable #data export [value]="{
	context : context.value
}"></variable>

<ng-template #leftButtons export let-context="context">
	<ng-container *ngIf="context && context.buttons && context.buttons.edit">
	   	<include shared ref="/widgets/forms/object/buttons/edit"></include>
	</ng-container>
	<ng-container *ngIf="context && context.buttons && context.buttons.admin">
	   	<include shared ref="/widgets/forms/object/buttons/admin-provider"></include>
	</ng-container>
	<include shared ref="/widgets/forms/object/form/execution-pane-overview"></include>
</ng-template>

<ng-template #rightButtons export let-context="context">
	<ng-container *ngIf="context && context.buttons && context.buttons.copy">
	   	<include shared ref="/widgets/forms/object/buttons/copy-provider"></include>
	</ng-container>
	<provider api="object.details.refresh" (menuItemSelected)="component.value.update()" icon="refresh" name@i18n="INFO_REFRESH" [priority]="1" group="0"></provider>		
</ng-template>


<!-- @Abstract -->

<style>
.overview-content {
	font-size : 13px;
}
</style> 

<observe [event]="root.app.mediaSizeChange" (dispatch)="0"></observe>
<observe *ngIf="component.value" [event]="component.value.updated" (dispatch)="res.call();updateOverview.emit()"></observe>

<remote require="server/forms/viewer" api="getPreviewSummary" #res
 		  	[args]="[object.value,200,
					root.app.mediaSize == 'xs' ? 200 :
					root.app.mediaSize == 'sm' ? 256
										   	   : 400]" [dependency]="object">
</remote>
<include shared ref="/widgets/forms/object/overview-inner"></include>
<div *ngIf="res.value" [fxHide]="!overviewReady.value">
	<!-- bridge angular DomSanitizer  -->
	<div relative style="height:200px;margin-bottom:10px;margin-top:8px;min-width:200px" *ngIf="res.value.geometry">
		<viewer [object]="res.value.geometry.object" #viewer (onInit)="viewer.selection=object.value ? [object.value] : undefined"></viewer>
	</div>
	<div>
		<include shared ref="/widgets/forms/object/gallery/pane"></include>
		
		<observe (onReady)="galleryCustomClickHandler.value=onClick.execute">
			<script #onClick [params]="{object:object,root:root}">
				//var doc = args[0];
				var obj = object.value;
				root.db.getObject(obj,"code",function(res){
					if (res.code)
						root.openDialog('/pages/main/print',{
			           		tpl : res.code,
			           		fullscreen : true
			           	})
				})
			</script>
		</observe>
	</div>
</div>

