<!--<ng-container *ngIf="root.db.loggedIn">-->

  <variable #object export></variable>
  <!--<variable #hierarchy [defaults]="{value : 'spaces.building:library.country.cities.root_properties.children*.buildings:filtered'}"></variable>-->

  <variable #schemas></variable>
  <variable #eschemas></variable>
  <variable #currentHierarchy></variable>
  <variable #currentEHierarchy></variable>

  <!-- Sidenav controller : defines sidenavOpen.value TRUE/FALSE -->
  <!--<include shared ref="/app/sidenav-controller"></include>-->

  <variable #sidenavOpen [defaults]="{value:true}" export persist></variable>

  <!-- Content if not logged in -->
  <include shared ref="/app/not-logged"></include>
  <variable #cat export>
    <observe>
      <execution [params]="{cat:cat,category:category,root:root,cindex:cindex,rootCategories:rootCategories}"><![CDATA[
        if (rootCategories.value === undefined) {
          rootCategories.value = null;
          root.db.web2print.print_category.SELECT({where:'parent is null',properties:'NAME'}).done(function (res) {
          rootCategories.value = res || null;
          });
        }
        if (!cat.value) {
          category.value = null;
          cindex.value = 0;
          return;
        };
        root.db.web2print.print_category.byId(Number(cat.value)).done(function (res) {
          category.value = res || null;
          cindex.value=0;
          for (var i=0;i < rootCategories.value.length;i++) {
            if (rootCategories.value[i].id == cat.value) {
              cindex.value=i+1;
              break;
            }
          }
        } );
        ]]></execution>
    </observe>
  </variable>

  <variable #category></variable>
  <variable #cindex [dependency]="category"></variable>
  <variable #rootCategories></variable>

  <observe [event]="cindex.onChange">
    <execution [params]="{root:root,cindex:cindex,rootCategories:rootCategories,cat:cat}"><![CDATA[

      var chip = cindex.value > 0 ? rootCategories.value[cindex.value-1] : undefined;
      if (!chip) {
        if (cat.value)
          root.app.openRoute('/print',args[0],{});
        return;
      }
      if (chip.id != cat.value) {
        root.app.openRoute('/print',args[0],{cat : chip.id});
      }
      ]]></execution>
  </observe>

  <div toolbar-content style="line-height:30px;overflow:visible" fxLayout="row">
    <img src="{{root.app.url}}/images/logos/customer-logo_200x35.jpg" style="width:200px;height:35px;margin-top:-2.5px;cursor:pointer" (click)="root.app.openRoute('/index',$event)" />
    <span fxFlex></span>
    <h2 no-margin style="font-weight:normal;line-height: 30px;color:#c0c0c0">
      <!--<i18n>INFO_VISIONR_INDEX</i18n>-->
      Web2Print
    </h2>
    <span fxFlex></span>
  </div>

  <!--<md-sidenav-container *ngIf="root.db.loggedIn" style="overflow:visible">-->
    <!--<md-sidenav id="sn" #sidenav fxHide.xs mode="side" [opened]="sidenavOpen.value">-->
      <!--<dropdown [schema]="'web2print.print_template'" [(object)]="object.value" [hierarchy]="'web2print.print_template:category.templates'"></dropdown>-->
      <!--<query schema="web2print.print_category" where="parent is null" properties="NAME,code,OICON@128x128">-->
        <!--<result #res3>-->
          <!--<md-chip-list class="mat-chip-list-stacked">-->
            <!--<md-chip *ngFor="let chip of (res3.objects || [])" class="mat-chip-list-stacked" style="margin-left: 4px;text-align: center" (click)="eee.execute()">-->
              <!--{{chip.NAME}}-->
              <!--<execution #eee [params]="{chip:chip,m:m}">-->
                <!--m.value = chip.id;-->
              <!--</execution>-->
            <!--</md-chip>-->
          <!--</md-chip-list>-->
        <!--</result>-->
      <!--</query>-->
    <!--</md-sidenav>-->

      <!--{{h.filterCondition}}-->
      <!--{{res.objects | json}}-->
      <!--{{tree.selectionPaths | json}}-->
      <!--{{tree.selected | json}}-->

    <!--<query schema="web2print.print_category" where="parent is null" properties="NAME,code,OICON@128x128">-->
      <!--<result #res4>-->
    <div absolute-fill>
        <md-tab-group #tg *ngIf="cindex.value != undefined" [(selectedIndex)]="cindex.value" class="tabs-full-height force-no-overflow" absolute-fill>
          <md-tab label="Home">
            <div *ngIf="cindex.value == 0">
              content
            </div>
          </md-tab>
          <md-tab [label]="chip.NAME" *ngFor="let chip of (rootCategories.value || []);let i = index" class="mat-chip-list-stacked" style="margin-left: 4px;text-align: center">

            <query *ngIf="cindex.value-1 == i" schema="web2print.print_category" where="parent = {{chip.id}}" properties="NAME,OICON@128x128">
              <result #res>
                <md-card style="background-color: transparent;padding: 0;padding-left: 8px;border-bottom:1px solid #e0e0e0" class="example-card" *ngFor="let chip of (res.objects || [])">
                  <h3 style="margin: 8px 8px 8px 8px">{{chip.NAME}}</h3>

                  <query *ngIf="chip.id" schema="web2print.print_category" where="parent = {{chip.id}}" properties="NAME,code,OICON@128x128">
                    <result #res2>

                      <div style="height: 240px" relative>
                        <swiper absolute-fill *ngIf="res2.objects" [config]="{pagination: '.swiper-pagination',
        slidesPerView: 'auto', centeredSlides: true, paginationClickable: true, spaceBetween: 30 }"
                                class="bordered-selection-hover">
                          <div class="swiper-wrapper">
                            <ng-template let-element let-i="index" ngFor [ngForOf]="res2.objects">
                              <div (click)="ex.execute()" [style.width]="(200+(i*400)) + 'px'" class="swiper-slide" fxLayout="column">
                                <variable #object [value]="element"></variable>
                                <div relative>
                                  <div md-card-avatar class="example-header-image">
                                    <img style="height: 40px;width: 40px" src="{{element.ICON}}" />
                                  </div>
                                  {{element.NAME}}
                                  <!--<include shared ref="/widgets/index/app-masks/entry"></include>-->
                                </div>
                              </div>
                            </ng-template>
                          </div>
                          <!--<div class="swiper-pagination" style="top:80px;left:0;height:auto;bottom:auto;right:auto;"-->
                          <!--[style.width]="'120px'"-->
                          <!--&gt;</div>-->
                          <!-- [style.display]="root.app.locked ? 'block' : 'none'" */  -->
                          <div class="swiper-pagination"></div>
                        </swiper>
                        <execution #ex [params]="{}"><![CDATA[
                          <!--console.log(swiper);-->
                          ]]></execution>
                      </div>

                    </result>
                  </query>

                  <!--<viewer *ngIf="inst.values && inst.values.document" [object]="inst.values.document"></viewer>-->

                </md-card>
              </result>
            </query>

          </md-tab>
        </md-tab-group>
    </div>
      <!--</result>-->
    <!--</query>-->

<!--</div>-->
    <!--<attach shareProviders ref="/dashboard/templates/@{{mtree.value.selected.SCHEMA}}" path="{{mtree.value.selected.SCHEMA}}" [params]="{ object : mtree.value.selected }">-->
    <!--</attach>-->
  <!--</md-sidenav-container>-->

<!--</ng-container>-->
